<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.com.pirassununga.projetosites.actions.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>br.com.pirassununga.projetosites.actions.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>br.com.pirassununga.projetosites.actions.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgencias</servlet-name>
        <servlet-class>br.com.pirassununga.projetosites.actions.ControladorAgencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorContas</servlet-name>
        <servlet-class>br.com.pirassununga.projetosites.actions.ControladorContas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgencias</servlet-name>
        <url-pattern>/ControladorAgencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorContas</servlet-name>
        <url-pattern>/ControladorContas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
